.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  cursor: pointer;
  height: 33px;
}

.menu ul {
  display: flex;
  gap: 40px;
  padding: 20px 0;
  font-size: 17px;
  line-height: 27px;
}

.menu a {
  transition: color 0.2s ease-in;
}

.menu a:hover {
  color: #118da8;
}